/* HERE IS WHERE I ADD MY CSS */

/* THIS IS AN EXAMPLE */

body { font-size:20px; line-height:5px; font-family: Helvetica; }

.navbar{ background-color:LightPink; }

p { color: black; }

#byline { color: white; }

h1{color:blue;}
