/* HERE IS WHERE I ADD MY CSS */

/* THIS IS AN EXAMPLE */

body { font-size:20px; font-family: Helvetica; }

.navbar{ background-color:LightPink; text-align:center; height:35px;}
.navbar a{color:black; font-weight:bold;}

p { color:black; line-height:19px; text-align:center; }

#byline { color: white; }

h1{color:blue;}
